table {
  border: 1px solid #555;
}

table .tabla_datos {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.tabla_datos td, table.tabla_datos th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.tabla_datos tbody td {
  font-size: 10px;
}
table.tabla_datos tr:nth-child(even) {
  background: #7C8792;
 }
table.tabla_datos thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.tabla_datos thead th {
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #DC1833;
}
table.tabla_datos thead th:first-child {
  border-left: none;
}

table.tabla_datos tfoot {
  font-size: 10.5px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.tabla_datos tfoot td {
  font-size: 10.5px;
}
table.tabla_datos tfoot .links {
  text-align: right;
}
table.tabla_datos tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}